
.roh_container {
    width: 100%;
    max-width: 1320px;
    margin: auto;
}
.roh_rent_earn_section {
    padding: 96px 20px;
    background-color: #FFF8F6;
}
.roh_rentEarn_inner {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 3px 25.16px 0.84px rgba(0, 0, 0, 0.09);
}
.roh_ctaDrak {
  background-color: #000;
  padding: 48px;
}
.roh_darkCta_img_wrapper {
  width: 100%;
  height: auto;
}
.roh_rent_earn_section h2 {
  font-size: 36px;
}
.roh_rent_earn_list {
  font-size: 16px;
}
.roh_rent_earn_list a {
  color: #212529;
  text-decoration: underline;
}
.roh_rent_earn_list a:hover {
  color: #ff3600;
    text-decoration: underline;
  }
@media screen and (max-width: 768px) {

  .roh_rentEarn_inner {
  display: flex;
  flex-wrap: wrap;
}
.roh_ctaDrak {
  padding: 48px 20px;
}
}
@media screen and (max-width: 767px) {
  .roh_rent_earn_section {
    padding: 30px 10px;
}
.roh_ctaDrak {
  padding:20px;
}
.roh_rent_earn_list {
  font-size: 13px;
}
.roh_rent_earn_list svg {
  width:16px;
}
.roh_rent_earn_section h4 {
  font-size: 16px;
}
}

  @media screen and (max-width: 550px) {
  .roh_rent_earn_section h2 {
      font-size: 24px;
      margin-bottom: 10px;
  }
  .roh_darkCta_img_wrapper img {
    max-height: 235px;
    object-fit: cover;
    object-position: center;
  }
}